:root{
    --cor-icon: white;
    --cor-icon-search: rgba(0, 0, 0, 0.32);
}

.search_container
{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.79);
    max-width: 620px;
    width: 520px;
    border-radius: 5px;
    max-height: 35px;
}

.search_container:focus-within{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#icon_search{
    color: var(--cor-icon-search);
    font-size: 1.8rem;
}

.container_icon_info{
    display: flex;
    gap: 40px;
}
#icon{
    color: var(--cor-icon);
    font-size: 2rem;
    cursor: pointer;
}

.container_paws{
    display: grid;
    height: 100px;
    width: 100px;
    grid-template-areas: 
    "p1 p2 p3"
    "p5 p6 p7"
    "p9 p10 p11"
    "p13 p14 p15"
    "p16 p17 p18"
    ;
}

.container_all{
    position: relative;
}

.list_sugestion{
    position: absolute;
    width: 100%;
    max-height: 160px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
}

.list_toggle{
    max-height: 0;
}

.list_sugestion li{
    height: 40px;
    background-color: rgb(185, 221, 236);
    cursor: pointer;
}

.list_sugestion li:hover{
    background-color: rgb(125, 203, 206);
}

#paws_icon{
    font-size: 1.5rem;
    color: var(--cor-icon);
    rotate: -45deg;
}

.container_list ul{
    display: flex;
    gap: 30px;
}

.container_list ul li ul{
    display: none;
    z-index: 1;
}

.container_list ul li{
    position: relative;
}

.container_list ul li ul{
    position: absolute;
    min-width: 100%;
    top: 100%;
    left: 0;
}

.container_list ul li ul:hover,
.container_list ul li:hover ul{
    display: block;
}

/* evento */

.option_profile{
    max-height: 87px;
}

